$basic-main: rgb(53, 51, 51);
$basic-main2: rgb(255, 255, 255);
$basic-background: rgb(243, 243, 243);
$basic-background2: rgba(253, 253, 253, 0.968);
$basic-shadow: rgba(197, 197, 197, 0.41);
$stats1: rgb(156, 145, 235);
$stats2: rgb(235, 145, 145);
$stats3: rgb(145, 211, 235);
$btn-analitics: rgba(130, 202, 157, 0.7);
