@font-face {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans"), url("../../../public/fonts/mitr.woff2") format("woff2"),
    url("../../../public/fonts/mitr.woff") format("woff");
}
