.analytics {
  display: flex;
  flex-direction: column;
}

.analytics__btn {
  margin-bottom: 20px;
  padding: 20px;
  font-family: "Mitr", "Open Sans", sans-serif;
  font-size: 16px;
  color: $basic-main;
  background-color: $basic-background2;
  border: none;
  border-radius: 10px;
  box-shadow: $box-shadow;
  cursor: pointer;
  opacity: 1;
  transition: 1.5s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    background-color: $btn-analitics;
    transition: none;
  }
}

.analytics__message {
  padding: 20px;
  font-family: "Mitr", "Open Sans", sans-serif;
  font-size: 16px;
  color: $basic-main;
  background-color: $basic-background2;
  border-radius: 10px;
  box-shadow: $box-shadow;
  opacity: 1;
  transition: 1.5s;
}

.analytics__message p {
  margin: 0;
}
