.nav {
  @include list-reset;
  padding: 20px 0;
}

.nav__item {
  margin-bottom: 10px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 50px;
  color: $basic-main;
  opacity: 0.5;
  text-decoration: none;

  &--current {
    padding-left: 47px;
    border-left: solid 3px $basic-main;
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--dashboard::before {
    background-image: url("../../img/house.svg");
  }

  &--enquiries::before {
    background-image: url("../../img/enquiries.svg");
  }

  &--buy-sell::before {
    background-image: url("../../img/cart.svg");
  }

  &--spreadsheet::before {
    background-image: url("../../img/spreadsheet.svg");
  }

  &--help::before {
    background-image: url("../../img/help.svg");
  }
}

.nav__text {
  margin-left: 10px;
}
